<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/JQuery3.3.1.js"></script>
    <script src="js/lightslider.js"></script>


    <title>{{title}}</title>
</head>
<body>
    <header>
        
        <ul class="nav">
        <li id="logo"><a href="/">V-TV</a></li>
        <li class="menu"><a href="/">Home</a></li>
        <li class="menu"><a href="/moviesAndTv/movies">Movies & TV</a></li>
        {{#unless user}}
        <li class="menu sign"><a href="/user/signUp">Sign Up</a></li>
        <li class="menu sign"><a href="/user/login">Log In</a></li>
      {{/unless}}
       {{#if user}}
        <li class="menu sign"><a href="/user/logout">Log out</a></li>
        <li class="menu sign"><a href="/user/dashboard">Profile</a></li>

       {{/if}}
        </ul>

    </header>
    <main>
        {{{body}}}
    </main>

    <footer class="footer">
        <div class="inner-footer">
            <div class="social-links">
                <ul>
                    <li class="social-items"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-items"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li class="social-items"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-items"><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
                </ul>
            </div>

<div class="quick-links">
    <ul>
        <li class="quick-items"><a href="/">Home</a></li>
        <li class="quick-items"><a href="#">Services</a></li>
        <li class="quick-items"><a href="#">About Us</a></li>
        <li class="quick-items"><a href="#">Contact Us</a></li>
</ul>
</div>
<div class="outer-footer">
    Copyright &copy; V-TV. All Rights Reserved.
</div>

        </div>
    </footer>


</body>

</html>