<div class="loginbox">
<h1 class="login">Login Here</h1>
<form class=form>
<p>User name</p>
<input type="text" name="username" placeholder="Enter your username">
<p>Password</p>
<input type="Password" name="password" placeholder="Enter your Password">
<input type="submit" name="submit" value="Login"><br>

<a href="/SignUp"><b> Don't have an account?</b></a>		
	</form>
</div>