<div class="loginbox signUp">
<h1 class="login">Sign Up</h1>
<form class=form>
<p>Name</p>
<input type="text" name="" placeholder="Enter your Name">
<p>Email</p>
<input type="email" name="" placeholder="Enter your email">
<p>Password</p>
<input type="Password" name="" placeholder="Enter your Password">
<input type="submit" name="" value="Sign Up"><br>

<a href="/Login"><b> Already Have an account?</b></a>		
	</form>
</div>
