<div class="dash">
    <h1 class="content content1">Welcome <strong>Admin: {{user.name}}</strong></h1>  
</div>

<ul class="services">
<li><a class="service" href="#">Create new movie or tv show</a></li>
<li><a class="service" href="#">Update movie or tv show</a></li>
<li><a class="service" href="#">Delete movie or tv show</a></li>
</ul>