<div class="dash">
    <h1 class="content content1">Welcome <strong>{{user.name}} </strong></h1>
    <h4 class="content">Watch Your favourite movies only on V-TV</h4>

{{!-- <ul class="services">
<li><a class="service" href="/services/createMovie">Create new movie or tv show</a></li>
<li><a class="service" href="/services/updateMovie">Update movie or tv show</a></li>
<li><a class="service" href="/services/deleteMovie">Delete movie or tv show</a></li>
</ul> --}}

<div class="services"><a class="service" href="/services/cart">View Cart</a></div>    
</div>