<div class="loginbox signUp">
<h1 class="login">Sign Up</h1>
<form class="form" action="/user/SignUp" method="POST">
<p>Name</p>
<input type="text" name="name" placeholder="Enter your Name">
{{#each nameError}}
<div class="error">{{this}}</div>
{{/each}}

<p>Email</p>
<input type="email" name="email" placeholder="Enter your email">
{{#each emailError}}
<div class="error">{{this}}</div>
{{/each}}

<p>Password</p>
<input type="Password" name="password" placeholder="Enter your Password">
{{#each passError}}
<div class="error">{{this}}</div>
{{/each}}

<input type="submit" name="submit" value="Sign Up"><br>

<a href="/user/login"><b> Already Have an account?</b></a>		
	</form>
</div>
