<form class="search" method="GET" action="/services/search">
    <input type="text" name="search" class="query" placeholder="Seach any movie or tv shows">
<button type="submit" name="search-button"><i class="fa fa-search"></i></button>  
</form>

<div class="list">
    <h3 class="heading">
        Search Result
    </h3>

<ul class="listing">
    
    {{#each movies}}
    <li>
        <div class="box">
    <div class="Img"><a href="/moviesAndTv/description/{{this.id}}"><img src="{{this.image}}"> </a></div>
    <div class="Text"> {{this.name}}</div>
    </div>
     </li>
    {{/each}}
   
</ul>   
</div>